<div class="flex h-screen" style="background-color: white;">
    <div class="w-6">
        <app-login-design></app-login-design>
    </div>
    <div class="w-full lg:w-6 h-full text-center px-6 py-6 flex flex-column justify-content-center">
        <div class="flex flex-column align-items-center gap-4">
            <img src="../../../../assets/layout/images/logo/Frame 8733.jpg" alt="" width="206.66px" height="auto">
            <div class="mb-2 mt-1 form">
                <h2>Having trouble logging in?</h2>
                <p>To reset your password, please enter your e-mail address.</p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)"
                class="flex flex-column align-items-center gap-4">
                <!-- Username Email -->
                <div style="text-align: left;">
                    <p class="label" for="email">E-Mail Address</p>
                    <input type="email"
                        [ngClass]="{'ng-dirty':loginForm.get('email')?.invalid && loginForm.get('email')?.touched}"
                        pInputText formControlName="email" placeholder="Enter Your Email Address" />
                    <div class="text-left">
                        <!-- <small *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched"
                            class="text-red-500">
                            Required
                        </small> -->
                    </div>
                </div>
                <div class="flex justify-content-between">
                    <button pbutton label="LOGIN" type="button"
                        class="p-element w-10rem p-button p-component cancelBtn" severity="help"><span
                            class="p-button-label">Cancel</span></button>
                    <button pbutton label="LOGIN" type="submit"
                        class="p-element w-10rem p-button p-component loginBtn"><span
                            class="p-button-label">Continue</span></button>
                </div>
            </form>
        </div>
        <p class="text-color-secondary font-semibold forgotPass">Need help? <span
                class="text-primary hover:underline cursor-pointer font-medium">Click here</span></p>
    </div>

</div>

<p-toast></p-toast>
