<div style="position: relative;">
    <button pButton style="position:absolute; right:0;padding:9px 37px;top: -46px;" label="Back"
        type="button" class="mx-3 cancel-btn" [routerLink]="['/course']" routerLinkActive="router-link-active"></button>
    <div class="card" style="padding: 2rem 0;">
        <form action="" [formGroup]="courseForm" (ngSubmit)="onSubmit(courseForm?.value)" class="mt-6">
            <div class="p-fluid p-formgrid grid">
                <!--Event Name -->
                <div class="field col-6">
                    <label htmlFor="eventName">Course Name</label>
                    <input pInputText id="eventName" type="text" formControlName="courseName" />
                </div>
            </div>

            <div class="flex justify-content-end w-full mt-5">

                <button #submitButton pButton label="Submit" type="Submit" class="mx-3 submit-btn"></button>
            </div>
        </form>

    </div>
</div>


<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
