<div class="card grid" style="padding: 2rem 0rem; margin-left:0rem; margin-top:0.4rem">
    <div class="col-12 pb-0">
        <h4>Compare Events</h4>
    </div>
    <div class="col-6">
        <p class="event-header">Event 1</p>
        <span class="p-input-icon-left input-span">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search..." class="w-full" />
        </span>
        <p class="event-header">Event Name</p>
        <div class="flex align-items-center justify-content-start">
            <p-avatar shape="circle"
                image="../../../../assets/layout/images/rest/horizon-church-L8e9l0PXPIU-unsplash.jpg"
                styleClass="w-2rem h-2rem mr-3 flex-shrink-0" size="large"></p-avatar>
            <span class="event-content">Event Name 1</span>
        </div>
        <p class="event-header">Date</p>
        <span class="event-content">26/12/2023</span>
        <p class="event-header">Mode</p>
        <span class="event-content">In - Person</span>
        <p class="event-header">Revenue</p>
        <span class="event-content">$350.00</span>
        <p class="event-header">Attendees</p>
        <span class="event-content">60</span>
        <p class="event-header">Target</p>
        <span class="event-content">100</span>
    </div>
    <div class="col-6">
        <p class="event-header">Event 2</p>
        <span class="p-input-icon-left input-span">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search..." class="w-full" />
        </span>
        <p class="event-header">Event Name</p>
        <div class="flex align-items-center justify-content-start">
            <p-avatar shape="circle" image="../../../../assets/layout/images/rest/horizon-church-L8e9l0PXPIU-unsplash.jpg"
                styleClass="w-2rem h-2rem mr-3 flex-shrink-0" size="large"></p-avatar>
            <span class="event-content">Event Name 2</span>
        </div>
        <p class="event-header">Date</p>
        <span class="event-content">05/01/2023</span>
        <p class="event-header">Mode</p>
        <span class="event-content">Online</span>
        <p class="event-header">Revenue</p>
        <span class="event-content">$550.00</span>
        <p class="event-header">Attendees</p>
        <span class="event-content">40</span>
        <p class="event-header">Target</p>
        <span class="event-content">200</span>
    </div>
</div>
