.card {
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.1);
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(5, 5, 5, 1);
}

.event-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(5, 5, 5, 1);
  margin: 12px 0 8px 0;
}

.event-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.input-span {
  width: -webkit-fill-available;
}

input {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 88px;
  background-color: rgba(247, 247, 247, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  border: none;
}
