<div class="card mt-4" style="position: relative; padding:0px; border-radius:8px">
    <div class="grid">
        <button pButton style="position:absolute; right:0;padding:9px 37px;top: -70px;" label="Add Contacts"
            type="button" class="mx-3 submit-btn" (click)="visible = true"></button>
        <div class="col-12" style="padding:1rem 0 0 0;">
            <p-table #dt1 [value]="data" [paginator]="true" [rows]="rows" [tableStyle]="{ 'min-width': '50rem' }"
                responsiveLayout="scroll" [globalFilterFields]="['eventName','address','status','revenue']"
                [showFirstLastIcon]="false">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between align-items-center flex-column sm:flex-row">
                        <span class="p-input-icon-left input-table">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                                placeholder="Search..." class="w-full filterInput" />
                        </span>
                        <button pButton label="Filter" class="p-button-outlined filter-btn" icon="pi pi-filter"
                            (click)="clear(dt1)">
                        </button>

                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-center align-items-center">
                                First Name
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-center align-items-center">
                                Last Name
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-center align-items-center">
                                Email
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-center align-items-center">
                                Company
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-center align-items-center">
                                Job Title
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-center align-items-center">
                                Contact Type
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-center align-items-center">
                                No. of Event Registered
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-center align-items-center">
                                No. of Event Attended
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-center align-items-center">
                                Action
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>
                            {{data.firstName}}
                        </td>
                        <td>
                            {{data.lastName}}
                        </td>
                        <td>
                            {{data.email}}
                        </td>
                        <td>
                            {{data.company}}
                        </td>
                        <td>
                            {{data.jobTitle}}
                        </td>
                        <td>
                            {{data.contactType}}
                        </td>
                        <td>
                            <p-badge [value]="data.noOfEventReg" severity="secondary"></p-badge>
                        </td>
                        <td>
                            <p-badge [value]="data.noOfEventAttended" severity="secondary"></p-badge>
                        </td>
                        <td>
                            <button pTooltip="Edit" tooltipPosition="bottom" pButton pRipple type="button"
                                icon="pi pi-file-edit" class="mx-2 customBtn"></button>
                            <button pTooltip="Delete" tooltipPosition="bottom" pButton pRipple type="button"
                                icon="pi pi-trash" class="mx-2 customBtn2"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                </ng-template>
                <ng-template pTemplate="paginatorright" style="position: relative;">
                    <span class="mx-1 paginatorSpan">Show Items per page: </span>
                    <p-dropdown class="paginator-dropdown" [options]="options" [(ngModel)]="rows"></p-dropdown>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<p-dialog header="Add Contacts" [(visible)]="visible" [modal]="true" [style]="{ width: '70vw' }" [draggable]="false"
    [resizable]="false">
    <form action="" [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="mt-6">
        <div class="p-fluid p-formgrid grid">
            <div class="col-12 lg:col-6 p-fluid p-formgrid grid">
                <!--First Name -->
                <div class="field col-12 ">
                    <label htmlFor="firstName">First Name</label>
                    <input pInputText id="firstName" type="text" formControlName="firstName" />
                </div>
                <!-- Last Name -->
                <div class="field col-12">
                    <label htmlFor="lastName">Last Name</label>
                    <input pInputText id="lastName" type="text" formControlName="lastName" />
                </div>
                <!-- Job Title -->
                <div class="field col-12">
                    <label htmlFor="jobTitle">Job Title</label>
                    <p-dropdown [options]="jobTitle" formControlName="jobTitle" appendTo="body"></p-dropdown>
                </div>
                <!-- Email -->
                <div class="field col-12">
                    <label htmlFor="email">Email</label>
                    <input pInputText id="email" type="email" formControlName="email" />
                </div>
                <!--Phone Number -->
                <div class="field col-12 ">
                    <label htmlFor="phoneNumber">Phone Number</label>
                    <input pInputText id="phoneNumber" type="text" formControlName="phoneNumber" />
                </div>
                <!--Company -->
                <div class="field col-12 ">
                    <label htmlFor="company">Company</label>
                    <input pInputText id="company" type="text" formControlName="company" />
                </div>
                <!-- Company Type -->
                <div class="field col-12">
                    <label htmlFor="companyType">Company Type</label>
                    <p-dropdown [options]="companyType" formControlName="companyType" appendTo="body"></p-dropdown>
                </div>
                <!--Address Line 1 -->
                <div class="field col-12 ">
                    <label htmlFor="addressLine1">Address Line 1</label>
                    <input pInputText id="addressLine1" type="text" formControlName="addressLine1" />
                </div>
                <!--Address Line 2 -->
                <div class="field col-12 ">
                    <label htmlFor="addressLine2">Address Line 2</label>
                    <input pInputText id="addressLine2" type="text" formControlName="addressLine2" />
                </div>
                <!--Address Line 3 -->
                <div class="field col-12 ">
                    <label htmlFor="addressLine3">Address Line 3</label>
                    <input pInputText id="addressLine3" type="text" formControlName="addressLine3" />
                </div>
            </div>
            <p-divider class="divider" layout="vertical"></p-divider>
            <div class="col-12 lg:col-6 p-fluid p-formgrid grid">
                <!--City -->
                <div class="field col-12 ">
                    <label htmlFor="city">City</label>
                    <input pInputText id="city" type="text" formControlName="city" />
                </div>
                <!--State/Province -->
                <div class="field col-12 ">
                    <label htmlFor="state">State/Province</label>
                    <input pInputText id="state" type="text" formControlName="state" />
                </div>
                <!-- Country -->
                <div class="field col-12">
                    <label htmlFor="country">Country</label>
                    <p-dropdown [options]="country" formControlName="country" appendTo="body"></p-dropdown>
                </div>
                <!--Profile -->
                <div class="field col-12">
                    <label htmlFor="profile">Profile</label>
                    <input pInputText id="profile" type="text" formControlName="profile" />
                </div>
                <!--Description -->
                <div class="field col-12">
                    <label htmlFor="description">Description</label>
                    <input pInputText id="description" type="text" formControlName="description" />
                </div>
                <!--Facebook Url -->
                <div class="field col-12">
                    <label htmlFor="facebookUrl">Facebook Url</label>
                    <div style="position: relative;">
                        <input pInputText id="facebookUrl" type="text" formControlName="facebookUrl" />
                        <p-inputSwitch (onChange)="onInputSwitch('facebookUrl','facebookSwitch')"
                            formControlName="facebookSwitch"></p-inputSwitch>
                        <span class="hideText">HIDE</span>
                    </div>
                </div>
                <!--Twitter Url -->
                <div class="field col-12 ">
                    <label htmlFor="twitterUrl">Twitter Url</label>
                    <div style="position: relative;">
                        <input pInputText id="twitterUrl" type="text" formControlName="twitterUrl" />
                        <p-inputSwitch (onChange)="onInputSwitch('twitterUrl','twitterSwitch')"
                            formControlName="twitterSwitch"></p-inputSwitch>
                        <span class="hideText">HIDE</span>
                    </div>
                </div>
                <!--Linkedin Url -->
                <div class="field col-12 ">
                    <label htmlFor="linkedinUrl">Linkedin Url</label>
                    <div style="position: relative;">
                        <input pInputText id="linkedinUrl" type="text" formControlName="linkedinUrl" />
                        <p-inputSwitch (onChange)="onInputSwitch('linkedinUrl','linkedinSwitch')"
                            formControlName="linkedinSwitch"></p-inputSwitch>
                        <span class="hideText">HIDE</span>
                    </div>
                </div>
                <!--Thread Url -->
                <div class="field col-12 ">
                    <label htmlFor="threadUrl">Thread Url</label>
                    <div style="position: relative;">
                        <input pInputText id="threadUrl" type="text" formControlName="threadUrl" />
                        <p-inputSwitch (onChange)="onInputSwitch('threadUrl','threadSwitch')"
                            formControlName="threadSwitch"></p-inputSwitch>
                        <span class="hideText">HIDE</span>
                    </div>
                </div>
                <div class="field col-12 m-0">
                    <label class="heading m-0">Headshot Image</label>
                </div>
                <div class="col-8" style="text-align: center;">
                    <label class="fileInput">
                        <p class="fileUploadStyle"><i class="pi pi-upload mr-2"></i> Upload/Drop Image</p>
                        <input type="file" (change)="onFileSelected($event)">
                    </label>
                </div>
                <div class="col-4" style="text-align: center; padding-right: 0px; position:relative">
                    <ng-container *ngFor="let image of uploadedImages; let i = index">
                        <p-image [src]="image.url" alt="Image" height="88" [preview]="true"></p-image>
                        <i class="pi pi-times plusIcon" (click)="removeUploadedImage()"></i>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="flex justify-content-center w-full mt-5">
            <button pButton label="Add" type="Submit" class="mx-3 submit-btn add-btn"></button>
            <button pButton label="Cancel" (click)="onCancel()" type="button" class="mx-3 cancel-btn"></button>
        </div>
    </form>
</p-dialog>