
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

.form h2 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 29.05px;
}

.form p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 19.36px;
  color: rgba(51, 51, 51, 1);
}

.label {
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: "Inter", sans-serif !important;
  line-height: 19.36px !important;
  margin-bottom: 8px !important;
  color: rgba(51, 51, 51, 1);
}

.loginBtn {
  border-radius: 100px !important;
  height: 40px;
  width: 210px !important;
  margin-left: 10px;
}

.cancelBtn {
  border-radius: 100px !important;
  height: 40px;
  background: transparent;
  color: rgba(78, 20, 191, 1);
  width: 210px !important;
  margin-right: 10px;
}

.cancelBtn:hover{
    background: rgba(168, 85, 247, 0.04);
}

.forgotPass {
  margin-top: 13px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 19.36px;
  color: rgba(153, 153, 153, 1) !important;
}

.forgotPass span {
  color: rgba(78, 20, 191, 1);
  font-weight: 700 !important;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  background: linear-gradient(180deg, #a076f1 0%, #6436bd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  transition: all 0.5s ease;
}

.forgotPass span:hover {
  text-decoration: underline !important;
  color: rgba(78, 20, 191, 1) !important;
  background: linear-gradient(180deg, #330098 0%, #6436bd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.check {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #333333;
  margin-bottom: 5px;
  margin-left: 8px;
}

.otp{
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    color: #330098;
}


input{
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    line-height: 19.36px;
}
