<div class="w-full hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover bg-norepeat custom"
    style="background:rgba(78, 20, 191, 1);position:relative; height:100vh;">
    <img class="img img1" src="../../../../assets/layout/images/login/Ornament 11.png" alt="">
    <img class="img img2" src="../../../../assets/layout/images/login/Ornament 38.png" alt="">
    <img class="img img3" src="../../../../assets/layout/images/login/Ornament 16.png" alt="">
    <img class="img img4" src="../../../../assets/layout/images/login/Ornament 8.png" alt="">
    <img class="img img5" src="../../../../assets/layout/images/login/Ornament 9.png" alt="">
    <img class="img img6" src="../../../../assets/layout/images/login/Ornament 10.png" alt="">
    <img class="img img7" src="../../../../assets/layout/images/login/Ornament 3.png" alt="">
    <img class="img img8" src="../../../../assets/layout/images/login/Ornament 2.png" alt="">
    <img class="img img9" src="../../../../assets/layout/images/login/Ornament 81.png" alt="">
    <img class="img img10" src="../../../../assets/layout/images/login/Ornament 4.png" alt="">
    <img class="img img11" src="../../../../assets/layout/images/login/Ornament 15.png" alt="">
</div>
